body {
    padding: 52px;
    color: rgb(255, 255, 255);
    background: url('pexels-felix-mittermeier-956999.jpg');
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px; 
}

#heading {
    /* text-align: center; */
    font-weight: 900;
    font-size: 60px;
}

#result {
    margin-top: 50px;
    font-size: 50px;
}

#txt {
    font-weight: 700;
    font-size: 40px;
}

.buttons {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 16px;
}

.btn {
    width: 150px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(13, 110, 253);
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 20px;
    border-radius: 0.25rem;
}

.btn:hover {
    color: rgb(13, 110, 253);
    background-color: rgb(255, 255, 255);
    border-color: rgb(13, 110, 253);
}

.btn:active {
    box-shadow: 2px 2px 5px rgb(0, 0, 0);
}



